body {
    width: 900px;
    height: 700px;
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
    border-radius: 10px;
    margin-top: 120px;
    padding: 0px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
  }

  .slanted-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 46%;
    width: 40%;
    background-color: #14238a;
    transform: skew(-5deg);
    transform-origin: 0;
  }

  .left {
    flex: 1;
    background-image: url("https://2.bp.blogspot.com/-dDj1GyPxE4w/Wh-11nwAe_I/AAAAAAAADCU/hkRRdDtK7lMw1GDLzf5Jn7npClpiN5kUQCEwYBhgL/s1600/P1110972.JPG");
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: #fff;
  }
  .content1 {
    height: 100%;
    background-color: rgba(255, 102, 102, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
  }

  .content1 h1 {
    font-size: 45px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px;
    letter-spacing: 1px; /* Adjust letter spacing as needed */
    line-height: 1.4; /* Adjust line height (sentence spacing) as needed */
  }

  .content1 h1 br {
    display: block;
    margin-top: 20px; /* Adjust spacing between lines as needed */
  }

  .right {
    margin-left: 0px;
    flex: 1;
    background-color: #14238a;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .right .content {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }

  .right h2 {
    font-size: 24px;
    color: #333;
  }

  .signin-form {
    margin-top: 20px;
  }

  .signin-form p{
    color: #14238A;
    text-align: left;
    font-size: small;
    cursor: pointer;
  }

  .signin-form input[type="text"],
  .signin-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .signin-form button {
    background-color: #D60A0B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
  }

  .signin-form button:hover {
    background-color: #FF4E50;
  }